Objects(
    groups: [
        (
            id: ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6c"),
            slot: Slot(1),
            name: "SPOT",
            fixture_ids: ["101", "102", "103", "104", "105", "106"],
        ),
        (
            id: ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6d"),
            slot: Slot(2),
            name: "WASH",
            fixture_ids: ["201", "202", "203", "204", "205", "206"],
        ),
        (
            id: ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6e"),
            slot: Slot(3),
            name: "LED1",
            fixture_ids: [
                "301",
                "302",
                "303",
                "304",
                "305",
                "306",
                "307",
                "308",
                "309",
                "310",
                "311",
                "312",
                "313",
                "314",
                "315",
                "316",
                "317",
                "318",
            ],
        ),
        (
            id: ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6f"),
            slot: Slot(4),
            name: "LED2",
            fixture_ids: [
                "401.8",
                "401.7",
                "401.6",
                "401.5",
                "401.4",
                "401.3",
                "401.2",
                "401.1",
                "402.8",
                "402.7",
                "402.6",
                "402.5",
                "402.4",
                "402.3",
                "402.2",
                "402.1",
                "403.8",
                "403.7",
                "403.6",
                "403.5",
                "403.4",
                "403.3",
                "403.2",
                "403.1",
                "404.8",
                "404.7",
                "404.6",
                "404.5",
                "404.4",
                "404.3",
                "404.2",
                "404.1",
            ],
        ),
        (
            id: ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a70"),
            slot: Slot(5),
            name: "FLOOR",
            fixture_ids: ["501", "502", "503", "504"],
        ),
    ],
    executor_pages: [
        (
            id: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
            slot: Slot(1),
            name: "Page 1",
            executors: (
                (
                    content: Some(Sequence((
                        sequence: ObjectId("dc40867b-7e21-4b70-81cb-01d25d37c439"),
                        cue_index: 0,
                        priority: 100,
                        merge_mode: Htp,
                        master_controls_enabled: true,
                        reset_to_start_on_disable: true,
                        button1: FlashMaster,
                        button2: CueGoNext,
                        button3: ToggleEnabled,
                    ))),
                    enabled: true,
                    master: 0.0,
                ),
                (
                    content: Some(Sequence((
                        sequence: ObjectId("46eb20f5-3886-4a49-80a6-87fa8a0c471b"),
                        cue_index: 0,
                        priority: 100,
                        merge_mode: Htp,
                        master_controls_enabled: true,
                        reset_to_start_on_disable: true,
                        button1: FlashMaster,
                        button2: CueGoNext,
                        button3: ToggleEnabled,
                    ))),
                    enabled: true,
                    master: 0.0,
                ),
                (
                    content: Some(Sequence((
                        sequence: ObjectId("c65d0af7-523e-4483-a5af-c79f85a97a49"),
                        cue_index: 0,
                        priority: 100,
                        merge_mode: Htp,
                        master_controls_enabled: true,
                        reset_to_start_on_disable: true,
                        button1: FlashMaster,
                        button2: CueGoNext,
                        button3: ToggleEnabled,
                    ))),
                    enabled: true,
                    master: 0.0,
                ),
                (
                    content: Some(Sequence((
                        sequence: ObjectId("0cd9f1e2-9d48-4256-be49-272dd12c28b5"),
                        cue_index: 0,
                        priority: 100,
                        merge_mode: Htp,
                        master_controls_enabled: true,
                        reset_to_start_on_disable: true,
                        button1: FlashMaster,
                        button2: CueGoNext,
                        button3: ToggleEnabled,
                    ))),
                    enabled: true,
                    master: 0.0,
                ),
                (
                    content: Some(Sequence((
                        sequence: ObjectId("dada88cb-4b8b-4b94-ab88-1e82ecf25016"),
                        cue_index: 0,
                        priority: 100,
                        merge_mode: Htp,
                        master_controls_enabled: true,
                        reset_to_start_on_disable: true,
                        button1: FlashMaster,
                        button2: CueGoNext,
                        button3: ToggleEnabled,
                    ))),
                    enabled: true,
                    master: 0.0,
                ),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (
                    content: Some(Sequence((
                        sequence: ObjectId("d034f4a8-d09a-4751-90b0-f5a35c26db84"),
                        cue_index: 1,
                        priority: 101,
                        merge_mode: Htp,
                        master_controls_enabled: false,
                        reset_to_start_on_disable: true,
                        button1: FlashMaster,
                        button2: CueGoNext,
                        button3: ToggleEnabled,
                    ))),
                    enabled: true,
                    master: 1.0,
                ),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0),
                (content: None, enabled: false, master: 0.0)
            ),
        ),
    ],
    sequences: [
        (
            id: ObjectId("dc40867b-7e21-4b70-81cb-01d25d37c439"),
            slot: Slot(1),
            name: "SPOT Intensity",
            cues: [(
                name: "Main Cue",
                recipes: [(
                    fixtures: Group(ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6c")),
                    content: Preset(PresetId(kind: Dimmer, object_id: ObjectId("d530ec9c-1f42-4226-aed5-627707714479"))),
                )],
            )],
        ),
        (
            id: ObjectId("46eb20f5-3886-4a49-80a6-87fa8a0c471b"),
            slot: Slot(2),
            name: "WASH Intensity",
            cues: [(
                name: "Main Cue",
                recipes: [(
                    fixtures: Group(ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6d")),
                    content: Preset(PresetId(kind: Dimmer, object_id: ObjectId("d530ec9c-1f42-4226-aed5-627707714479"))),
                )],
            )],
        ),
        (
            id: ObjectId("c65d0af7-523e-4483-a5af-c79f85a97a49"),
            slot: Slot(3),
            name: "LED1 Intensity",
            cues: [(
                name: "Main Cue",
                recipes: [(
                    fixtures: Group(ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6e")),
                    content: Preset(PresetId(kind: Dimmer, object_id: ObjectId("d530ec9c-1f42-4226-aed5-627707714479"))),
                )],
            )],
        ),
        (
            id: ObjectId("0cd9f1e2-9d48-4256-be49-272dd12c28b5"),
            slot: Slot(4),
            name: "LED2 Intensity",
            cues: [(
                name: "Main Cue",
                recipes: [(
                    fixtures: Group(ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a6f")),
                    content: Preset(PresetId(kind: Dimmer, object_id: ObjectId("d530ec9c-1f42-4226-aed5-627707714479"))),
                )],
            )],
        ),
        (
            id: ObjectId("dada88cb-4b8b-4b94-ab88-1e82ecf25016"),
            slot: Slot(5),
            name: "FLOOR Intensity",
            cues: [(
                name: "Main Cue",
                recipes: [(
                    fixtures: Group(ObjectId("b6e2e5c2-7c5e-4e2a-9e3a-1e2d9b7f8a70")),
                    content: Preset(PresetId(kind: Dimmer, object_id: ObjectId("d530ec9c-1f42-4226-aed5-627707714479"))),
                )],
            )],
        ),
        (
            id: ObjectId("d034f4a8-d09a-4751-90b0-f5a35c26db84"),
            slot: Slot(11),
            name: "Colors",
            cues: [
                (
                    name: "Red",
                    recipes: [(
                        fixtures: All,
                        content: Static({
                            "ColorAdd_R": Clamped(1.0),
                            "ColorAdd_G": Clamped(0.0),
                            "ColorAdd_B": Clamped(0.0),
                            "ColorAdd_W": Clamped(0.0),
                            "ColorSub_C": Clamped(0.0),
                            "ColorSub_M": Clamped(1.0),
                            "ColorSub_Y": Clamped(1.0),
                        }),
                    )],
                ),
                (
                    name: "Green",
                    recipes: [(
                        fixtures: All,
                        content: Static({
                            "ColorAdd_R": Clamped(0.0),
                            "ColorAdd_G": Clamped(1.0),
                            "ColorAdd_B": Clamped(0.0),
                            "ColorAdd_W": Clamped(0.0),
                            "ColorSub_C": Clamped(1.0),
                            "ColorSub_M": Clamped(0.0),
                            "ColorSub_Y": Clamped(1.0),
                        }),
                    )],
                ),
                (
                    name: "Blue",
                    recipes: [(
                        fixtures: All,
                        content: Static({
                            "ColorAdd_R": Clamped(0.0),
                            "ColorAdd_G": Clamped(0.0),
                            "ColorAdd_B": Clamped(1.0),
                            "ColorAdd_W": Clamped(0.0),
                            "ColorSub_C": Clamped(1.0),
                            "ColorSub_M": Clamped(1.0),
                            "ColorSub_Y": Clamped(0.0),
                        }),
                    )],
                ),
                (
                    name: "Yellow",
                    recipes: [(
                        fixtures: All,
                        content: Static({
                            "ColorAdd_R": Clamped(1.0),
                            "ColorAdd_G": Clamped(1.0),
                            "ColorAdd_B": Clamped(0.0),
                            "ColorAdd_W": Clamped(0.0),
                            "ColorSub_C": Clamped(0.0),
                            "ColorSub_M": Clamped(0.0),
                            "ColorSub_Y": Clamped(1.0),
                        }),
                    )],
                ),
            ],
        )
    ],
    layout_pages: [(
        id: ObjectId("cf209df8-5b16-474c-b592-5ce5126d1d01"),
        slot: Slot(12),
        name: "SHOW",
        tiles: [
            (x: 0, y: 0, width: 9, height: 8, kind: Fixtures),
            (x: 0, y: 8, width: 9, height: 1, kind: GroupPool),
            (x: 9, y: 0, width: 9, height: 1, kind: PresetPool(Dimmer)),
            (x: 9, y: 1, width: 9, height: 1, kind: PresetPool(Position)),
            (x: 9, y: 2, width: 9, height: 1, kind: PresetPool(Gobo)),
            (x: 9, y: 3, width: 9, height: 1, kind: PresetPool(Color)),
            (x: 9, y: 4, width: 9, height: 1, kind: PresetPool(Beam)),
            (x: 9, y: 5, width: 9, height: 1, kind: PresetPool(Focus)),
            (x: 9, y: 6, width: 9, height: 1, kind: PresetPool(Control)),
            (x: 9, y: 7, width: 9, height: 1, kind: PresetPool(Shapers)),
            (x: 9, y: 8, width: 9, height: 1, kind: PresetPool(Video)),
            (x: 0, y: 9, width: 18, height: 3, kind: Executors),
        ],
    )],
    dimmer_presets: [
        (
            id: ObjectId("cac2b5fd-6bc8-4031-a00b-7fb08fc30fd8"),
            slot: Slot(1),
            name: "0%",
            universal: {"Dimmer": Clamped(0.0)},
            global: {},
            selective: {},
        ),
        (
            id: ObjectId("212da0fb-4055-4aca-b7a4-94f4470ed9c7"),
            slot: Slot(2),
            name: "10%",
            universal: {"Dimmer": Clamped(0.1)},
            global: {},
            selective: {},
        ),
        (
            id: ObjectId("ac7a42b1-0c80-49a0-935e-bc9902d939c8"),
            slot: Slot(3),
            name: "25%",
            universal: {"Dimmer": Clamped(0.25)},
            global: {},
            selective: {},
        ),
        (
            id: ObjectId("921dd4d6-1a43-473a-9084-be4acc04326c"),
            slot: Slot(4),
            name: "50%",
            universal: {"Dimmer": Clamped(0.5)},
            global: {},
            selective: {},
        ),
        (
            id: ObjectId("ed9d178f-d6fa-49fc-84fc-a037acaa9d1d"),
            slot: Slot(5),
            name: "75%",
            universal: {"Dimmer": Clamped(0.75)},
            global: {},
            selective: {},
        ),
        (
            id: ObjectId("d530ec9c-1f42-4226-aed5-627707714479"),
            slot: Slot(6),
            name: "100%",
            universal: {"Dimmer": Clamped(1.0)},
            global: {},
            selective: {},
        ),
    ],
    position_presets: [],
    gobo_presets: [],
    color_presets: [],
    beam_presets: [],
    focus_presets: [],
    control_presets: [],
    shapers_presets: [],
    video_presets: [],
)
