TriggersDefinition(
    midi: [MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 0,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorMaster",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(1),
            ),
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 64,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(1),
            ),
            button: Button1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 48,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(1),
            ),
            button: Button2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 32,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(1),
            ),
            button: Button3,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 1,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorMaster",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(2),
            ),
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 65,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(2),
            ),
            button: Button1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 49,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(2),
            ),
            button: Button2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 33,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(2),
            ),
            button: Button3,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 2,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorMaster",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(3),
            ),
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 66,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(3),
            ),
            button: Button1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 50,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(3),
            ),
            button: Button2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 34,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(3),
            ),
            button: Button3,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 3,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorMaster",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(4),
            ),
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 67,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(4),
            ),
            button: Button1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 51,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(4),
            ),
            button: Button2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 35,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(4),
            ),
            button: Button3,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 4,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorMaster",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(5),
            ),
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 68,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(5),
            ),
            button: Button1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 52,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(5),
            ),
            button: Button2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 36,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(5),
            ),
            button: Button3,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 7,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorMaster",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(8),
            ),
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 71,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(8),
            ),
            button: Button1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 55,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(8),
            ),
            button: Button2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 39,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "ExecutorButton",
            executor_id: ExecutorId(
                page: ObjectId("77accb9e-3d6b-49fd-b0b4-a42f67e9563a"),
                slot: Slot(8),
            ),
            button: Button3,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 16,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "Encoder",
            encoder_ix: 0,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 17,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "Encoder",
            encoder_ix: 1,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 18,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "Encoder",
            encoder_ix: 2,
        ),
    ), MidiTriggerDefinition(
        device_name: "nanoKONTROL2 SLIDER/KNOB",
        channel: 0,
        message: MidiMessage(
            type: "ControlChange",
            controller: 19,
            value: MultiRange(
                from: 0,
                to: 127,
            ),
        ),
        target: TriggerTarget(
            type: "Encoder",
            encoder_ix: 3,
        ),
    )],
)